In [1]:
import pandas as pd

In [11]:
df = pd.read_csv("Planilha_Séries_Temporais_data.csv", delimiter = ";", low_memory = False)

In [14]:
df.tail()

,Contexto,Data e Hora,var_alias,VAR_VALUE
550232,BP-7045-FS || 33,04/09/20 18:29:04.300,VELOCIDADE ALIMENTAÇÃO FIO SOLDA,11.6
550233,BP-7045-FS || 33,04/09/20 18:29:04.400,VELOCIDADE ALIMENTAÇÃO FIO SOLDA,11.6
550234,BP-7045-FS || 33,04/09/20 18:29:04.500,VELOCIDADE ALIMENTAÇÃO FIO SOLDA,11.6
550235,BP-7045-FS || 33,04/09/20 18:29:04.700,VELOCIDADE ALIMENTAÇÃO FIO SOLDA,11.6
550236,BP-7045-FS || 33,04/09/20 18:29:04.800,VELOCIDADE ALIMENTAÇÃO FIO SOLDA,11.6

In [13]:
df['VAR_VALUE'] = df['VAR_VALUE'].str.replace(',', '.')

In [15]:
df['VAR_VALUE'] = df['VAR_VALUE'].astype(float)

In [16]:
df['Data e Hora'] = pd.to_datetime(df['Data e Hora'])

In [19]:
df['Contexto'] = df['Contexto'].str[-2:]

In [20]:
df.head()

  Contexto             Data e Hora                    var_alias  VAR_VALUE
0       43 2020-03-09 11:01:02.500  NÚMERO CORRENTE DE SOLDAGEM    18588.0
1       43 2020-03-09 11:01:02.600  NÚMERO CORRENTE DE SOLDAGEM    18588.0
2       43 2020-03-09 11:01:02.700  NÚMERO CORRENTE DE SOLDAGEM    18588.0
3       43 2020-03-09 11:01:02.800  NÚMERO CORRENTE DE SOLDAGEM    18588.0
4       43 2020-03-09 11:01:02.900  NÚMERO CORRENTE DE SOLDAGEM    18588.0